.jobsContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.3rem;
  max-width: 144rem;
  margin: 32rem auto;
  padding: 0 12rem;
}

.jobsTitle {
  font-size: 3.2rem;
  padding: 1rem;
}

.jobsParagraph {
  font-size: 1.6rem;
  padding: 1rem;
}
