/* Brand.module.css */

.brand {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
}

.name {
  font-size: 3rem; /* Adjust as needed */
  color: #303030; /* Adjust as needed */
}

.description {
  font-size: 2.5rem; /* Adjust as needed */
  color: #303030; /* Adjust as needed */
}

.logoContainer {
  width: 100%;
}

.logo {
  width: 100%; /* Adjust as needed */
  height: auto;
  object-fit: contain;
  /* border-radius: 15px; Optional for rounded corners */
  /* box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25); */
}
