/* FeaturesSection.module.css */

.features {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 12.8rem;
  margin: 32rem auto 0 auto;
  padding: 32rem 12rem;
  background-color: #f5f5f5; /* Or any color you prefer */
}

.featuresTitle {
  font-size: 4.8rem;
  /* margin-top: 32rem; */
  /* margin-bottom: 3rem; */
  color: var(--main-orange); /* Adjust the color as needed */
  /* font-weight: 700; */
}

.featuresList {
  display: flex;
  justify-content: space-between;
  max-width: 120rem;
  gap: 10rem;
  margin: 0 auto;
  /* margin: 0 auto 32rem auto; */
}

.featureItem {
  width: 31rem; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.featureIcon {
  width: 8rem;
  /* Adjust size as needed, or if SVG is used, the size can be controlled in the SVG file */
}

.featureTitle {
  font-size: 3.2rem;
  color: #303030; /* Adjust the color as needed */
}

.featureDescription {
  font-size: 1.6rem;
  color: #303030; /* Adjust the color as needed */
}

/* Responsive design adjustments */

@media only screen and (max-width: 960px) {
  .features {
    margin: 20rem auto 0 auto;
    padding: 20rem 12rem;
  }
}

@media only screen and (max-width: 600px) {
  .features {
    margin: 12rem auto 0 auto;
    padding: 8rem 0rem;
    gap: 6rem;
  }
  .featuresList {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  .featureDescription {
    font-size: 2rem;
  }
}
