/* HeroSection.module.css */

.heroContainer {
  background-image: url("../../../assets/pic/Hero.jpg"); /* Update with the correct path */
  background-size: cover;
  background-position: center bottom;
  height: 90vh; /* Adjust the height as necessary */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white; /* Adjust the text color as necessary */
  text-align: center;
  width: 100%;
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.heroContent {
  max-width: 45rem; /* Adjust the max width as necessary */
  margin-top: 6rem;
}

.heroTitle {
  font-size: 3.2rem; /* Adjust the font size as necessary */
  margin-bottom: 3.5rem;
}

.heroSubtitle {
  font-size: 1.8rem; /* Adjust the font size as necessary */
}

@media only screen and (max-width: 1200px) {
  .heroContainer {
    height: 80rem;
  }
  .heroContent {
    margin-top: 12rem;
  }
}

@media only screen and (max-width: 600px) {
  .heroContainer {
    height: 30rem;
    margin-top: 0;
  }
  .heroContent {
    width: 25rem;
  }
  .heroTitle {
    font-size: 2.5rem;
  }
  .heroSubtitle {
    display: none;
  }
}
