.storyContainer {
  background-color: #fff;
  margin: 32rem auto;
  padding: 0 12rem;
}

.storyContent {
  display: flex;
  justify-content: space-evenly;
  gap: 12rem;
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  /* margin: 32rem auto; */
}

.storyText {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.storyTitle {
  font-size: 3.2rem;
}

.storyParagraph {
  font-size: 1.6rem;
}

.actionButton {
  padding: 8px 16px; /* Adjust padding as needed */
  background-color: var(--main-blue); /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: var(--main-orange);
}

.storyVideo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  flex: 1;
}

.videoPlayer {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 960px) {
  .storyContainer {
    margin: 20rem auto;
  }
  .storyContent {
    flex-direction: column;
    gap: 8rem;
  }
}

@media only screen and (max-width: 600px) {
  .storyContainer {
    margin: 12rem auto;
    padding: 0%;
  }
  .storyContent {
    width: 90%;
  }

  .storyParagraph {
    font-size: 2rem;
  }
}
