/* Post.module.css */

.address {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 3.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3.2rem; /* Adjust as needed */
  color: #283a8e; /* Adjust as needed */
}

.subTitle {
  font-size: 2.5rem; /* Adjust as needed */
  font-weight: 700;
  color: #303030; /* Adjust as needed */
}

.description {
  font-size: 2.5rem; /* Adjust as needed */
  color: #303030; /* Adjust as needed */
}

/* @media (max-width: 1200px) {
  .post {
    width: 90%;
  }
} */
