.addressesContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  flex: 1;
  width: 100%;
}

@media (min-width: 60em) {
  .addressesContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-5);
  }
}
