.heroContainer {
  background-image: url("../../../assets/pic/ContactHero.jpg"); /* Update with the correct path */
  background-size: cover;
  background-position: center right; /* 确保底部可见 */
  height: 48rem;
  width: 100%;
  /* text-align: center; */
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContent {
  font-size: 6rem; /* Adjust the font size as necessary */
  color: #fff;
  width: 90%;
  max-width: 120rem;
}

@media only screen and (max-width: 1200px) {
  .heroContent {
    font-size: 5rem;
    /* margin-left: 18rem; */
  }
}

@media only screen and (max-width: 960px) {
  .heroContent {
    font-size: 5rem;
    /* margin-left: 12rem; */
  }
}

@media only screen and (max-width: 600px) {
  .heroContainer {
    height: 18rem;
  }
  .heroContent {
    font-size: 2.5rem;
    /* margin-left: 6rem; */
  }
}
