.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5rem;
  z-index: -1;
  background-color: var(--main-white);
  opacity: 0.8;
  height: 388rem;
}
.footer p {
  text-align: center;
  font-size: 1.5rem;
  color: var(--main-black);
  opacity: 0.8;
}
