/* Footer.module.css */

/* ... other styles ... */
.footer {
  background-color: var(--main-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.4rem;
}

.logoContainer {
  margin-top: 16rem;
}

.logo {
  width: 20rem;
}

.nav {
  max-width: 90rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3.6rem;
  border-bottom: 3px solid #fff;
}

.navItem {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: var(--main-orange); /* Lighter blue on hover */
}

.active {
  color: var(--main-orange); /* Lighter blue for active link */
  /* or any other styles you want to apply to the active link */
}

.copyRight {
  margin-bottom: 16rem;
  color: #fff;
  font-size: 1.2rem;
}

@media (max-width: 375px) {
  .nav {
    flex-direction: column;
  }
}
