.header {
  background-color: var(--main-black);
  opacity: 0.85;
  /* padding: 2rem; */
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header:hover {
  transition: opacity 0.2s ease-in;
  opacity: 1;
}

.logo {
  padding: 1rem;
  width: 8rem;
}

.logo img {
  display: inline-block;
  transition: all 0.3s ease;
  max-width: 100%;
  max-height: 100%;
}

.logo img:hover {
  transform: scale(1.5);
}

.cname a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--main-white);
  padding: 2rem;
  text-decoration: none;
}

nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 120rem;
}

.header__links {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

/* .header nav #hidden {
  display: flex;
} */

/* .header__links li {
  padding: 0 1rem;
  margin: 0 1.5rem;
} */

.header__links a:link,
.header__links a:visited,
.header__links a {
  border-style: none;
  text-decoration: none;
  font-size: 1.2rem;
  /* font-weight: 700; */
  color: var(--main-white);
  padding: 0.5rem 2.5rem;
  /* margin: 0 1.5rem; */
  white-space: nowrap;
  transition: all 0.3s ease;
  position: relative;
  opacity: 0.8;
}

.header__links a:hover {
  /* background-color: var(--lighter-orange); */
  /* border-radius: 5px; */
  /* transform: translateY(-2px); */
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); */
  /* background-color: var(--lighter-orange); */
  opacity: 1;
}

.header__links a.active {
  /* background-color: var(--lightest-purple); */
  /* border-radius: 5px;
  transform: translateY(-1px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); */
}

/* .header__links a::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease;
} */

/* .header__links a:hover::after { 
  transform: scale(1.5); 
   background-color: var(--lightest-purple); 
   opacity: 0; 
 }  */

/* .header__links .btn--container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5rem;
}

.header__links .btn--container li {
  margin: 0;
  padding: 0;
} */

/* .header nav .btn {
  padding: 0.5rem 1rem;
  margin: 0 1.5rem;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.header .btn:hover {
  background-color: var(--lightest-purple);
  color: var(--light-white);
} */

.header__submenu__links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__submenu {
  position: absolute;
  top: 4.8rem;
  list-style: none;
  margin: auto;
  background-color: var(--main-black);
}

.header__submenu li {
  padding: 1rem 0 2rem 0;
}

.header__submenu.show {
  max-height: 50rem;
  transition: max-height 0.6s ease-in;
}

.header__submenu.hide {
  max-height: 0;
  transition: max-height 0.6s ease-out;
  overflow: hidden;
  /* transform-origin: top; */
}

.header__submenu.show a {
  opacity: 0.8;
  transition: opacity 0.5s ease-in;
}

.header__submenu.show a:hover {
  opacity: 1;
}

.header__submenu.hide a {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.nav--clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav--clock p {
  white-space: normal;
  text-align: center;
}

.header__menuicon {
  display: none;
  width: 2rem;
  height: 2rem;
  color: var(--main-white);
}

.mainc {
  min-height: calc(100% - 15rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem 0;
}

@media screen and (max-width: 40em) {
  .header__links {
    display: none;
  }
  .header__menuicon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.4rem;
  }
  #hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 4.8rem;
    left: 0;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background-color: var(--main-black);
    padding: 3rem;
    z-index: 100;
    gap: 3rem;
  }

  #hidden a {
    width: 100%;
    text-align: center;
  }

  /* .header__links .btn--container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }
  .header__links .btn--container .btn {
    margin: 1.5rem 0;
    border-style: none;
  } */

  .header__menuicon.active {
    /* background-color: var(--light-white); */
    /* border-radius: 1rem; */
    /* padding: 1rem; */
    z-index: 100;
    /* color: var(--light-white); */
    opacity: 1;
  }
  .header__menuicon.inactive {
    /* background-color: var(--light-white); */
    /* border-radius: 1rem; */
    /* padding: 1rem; */
    z-index: 100;
    /* color: var(--light-white); */
    opacity: 0;
  }
  .cname {
    margin: 0 auto;
  }
}
