/* Navbar.module.css */

/* 默认样式 */
.navbar {
  display: flex;
  padding: 1.6rem 10.8rem;
  height: 18rem;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.navContainer {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.logo img {
  width: 20rem;
}

.links {
  display: flex;
  gap: 3.6rem;
}

.linkItem {
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.blackbg .linkItem:hover,
.whitebg .linkItem:hover {
  color: var(--main-orange);
}

.blackbg .linkItem .active,
.whitebg .linkItem .active {
  color: var(--main-orange);
}

/* Black Background */
.blackbg {
  background-color: #000;
  transition: background-color 0.7s ease, opacity 0.7s ease;
}

.blackbg .linkItem {
  color: #fff;
}

/* White Background */
.whitebg {
  background-color: #fff;
  transition: background-color 0.7s ease, opacity 0.7s ease;
}

.whitebg .linkItem {
  color: #303030;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
