.postsContainer {
  display: flex;
  flex-direction: column;
  gap: 10.8rem;
  margin: 32rem auto;
  justify-items: start; /* 水平居中所有网格项 */
  align-items: center; /* 垂直居中所有网格项 */
  max-width: 120rem;
}

@media only screen and (max-width: 960px) {
  .postsContainer {
    margin: 20rem auto;
  }
}

@media only screen and (max-width: 600px) {
  .postsContainer {
    width: 90%;
    padding: 0;
    margin: 12rem auto;
    gap: 6rem;
  }
}
