.storyContainer {
  background-color: #fff;
  margin-top: 30px auto;
}

.storyHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6rem;
  max-width: 144rem;
  margin: 32rem auto 4rem auto;
  padding: 0 12rem;
}

.storyContent {
  display: flex;
  justify-content: space-evenly;
  gap: 12rem;
  max-width: 144rem;
  margin: 0 auto 4rem auto;
}

.storyContent2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 4rem;
  max-width: 144rem;
  margin: 0 auto 32rem auto;
  padding: 0 12rem;
}

.storyUL {
  padding-left: 4rem;
}

.storyText {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.storyTitle {
  font-size: 3.2rem;
}

.storySubTitle {
  font-size: 2.6rem;
}

.storyParagraph {
  font-size: 2.5rem;
}

.storyPhoto {
  width: 100%;
  max-width: 800px;
  margin: auto;
  flex: 1;
}

.photoDisplay {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 960px) {
  .storyHeader,
  .storyContent2,
  .storyContent {
    flex-direction: column;
    /* margin: 20rem auto; */
    gap: 7.5rem;
  }

  .storyHeader {
    margin-top: 20rem;
  }

  .storyContent2 {
    margin-bottom: 20rem;
  }
}

@media only screen and (max-width: 600px) {
  .storyHeader,
  .storyContent2 {
    width: 90%;
    padding: 0;
    /* margin: 12rem auto; */
    gap: 6rem;
  }

  .storyHeader {
    margin-top: 12rem;
  }

  .storyContent2 {
    margin-bottom: 12rem;
  }

  .storyContent {
    width: 100%;
  }

  .storyText {
    gap: 2rem;
  }
  .storyParagraph {
    font-size: 2.5rem;
  }
}
