:root {
  --main-orange: #ee8755;
  --main-blue: #283a8e;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 75em) {
  html {
    font-size: 50%; /* 8px per rem  */
  }
}

@media screen and (max-width: 60em) {
  html {
    font-size: 37.5%; /* 6px per rem  */
  }
}
