/* ActionButton.module.css */
.actionButton {
  padding: 8px 16px; /* Adjust padding as needed */
  background-color: var(--main-blue); /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  text-wrap: nowrap;
  text-decoration: none !important;
  font-size: 1.6rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.actionButton:hover {
  background-color: var(--main-orange);
}
